:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  background-color: #d7d7d7;
  color: rgb(35, 35, 35);
}

/* NAVIGATION BAR */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
  padding: 0 5rem;
}

.nav__container {
  display: flex;
  flex-direction: row;
}

.nav__item {
  margin-left: 4rem;
}

.nav__item {
  list-style: none;
}

.nav__link {
  text-decoration: none;
}

/* HEADER SECTION - INCLUDES NAVIGATION BAR & HEADER*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 3rem;
}

.header__container {
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header__description {
  padding-right: 4rem;
  max-width: 95rem;
}

.description__items {
  padding: 3rem 0;
}

h1 {
  font-size: 4.5rem;
  line-height: 1.25;
}

h3 {
  font-size: 2rem;
  line-height: 1;
}

/* SECTION 1 - FEATURES */

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  padding: 15rem 3rem;
  width: 100%;
  border-top: 2px solid #ddd;
}

.section__header {
  margin: 0 auto 8rem auto;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin: 0 12rem;
}

.features__feature {
  align-self: center;
  justify-self: center;
}

.features__img {
  width: 100%;
}

/* OPEN ACCOUNT MODAL */

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* SECTION TRANSITION */

.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* HEADER STICKY */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

/* ACCOUNT OVERVIEW HTML*/

.table__container {
  display: flex;
  flex-direction: row;
  background-color: var(--color-tertiary-darker);
}

.entry__container {
}
.list__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 5rem;
}

.movie__container,
.music__container {
  display: flex;
  width: 100%;
  justify-content: center;
  /* padding: 2rem 5rem; */
  margin: 1rem 0 1rem 0;
}

.movie__container {
  background-color: var(--color-primary-darker);
}

.music__container {
  background-color: var(--color-secondary-darker);
}

.movie__table,
.music__table {
  width: 100%;
}

th,
tr {
  line-height: 4rem;
}

td {
  padding: 0 1rem 0 1rem;
}

.column__1 {
  width: 25%;
}

.column__2 {
  width: 50%;
}

.column__3 {
  width: 12.5%;
}
.column__4 {
  width: 12.5%;
}
